<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Small World Model</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.0.0/dist/css/bootstrap.min.css" th:href="@{/complexnetwork/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" th:href="@{/complexnetwork/form-validation.css}" rel="stylesheet">
    <!-- 引入 ECharts 文件 -->
    <script src="echarts.min.js" th:src="@{/complexnetwork/echart/echarts.js}"></script>


</head>

<body class="bg-light">


<div class="py-5 text-center">
    <h2>Statistics</h2>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <!--图形容器-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" id="main" style="height: 600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; <a href="/index">xushiliang.com</a></p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js" th:src="@{/bootstrap/js/jquery-slim.min.js}"><\/script>')</script>
<script src="/bootstrap-4.0.0/assets/js/vendor/popper.min.js" th:src="@{/complexnetwork/bootstrap/js/popper.min.js}"></script>
<script src="/bootstrap-4.0.0/dist/js/bootstrap.min.js" th:src="@{/complexnetwork/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../../assets/js/vendor/holder.min.js" th:src="@{/complexnetwork/bootstrap/js/holder.min.js}"></script>

<!--JQuery-->
<script src="../../js/jquery-3.1.1.min.js" th:src="@{/complexnetwork/js/jquery-3.1.1.min.js}"></script>
<script src="../../js/jquery.form.min.js" th:src="@{/complexnetwork/js/jquery.form.min.js}"></script>

<!--异步操作-->
<script src="../../js/admins/main.js" th:src="@{/complexNetwork/js/main.js}"></script>
<!--Data For Chart-->
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        title : {
            text: 'Active set size',
            subtext: 'f(S)'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['P=0.02','P=0.05','P=0.08','P=0.1','P=0.2']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['0','5','10','15','20','25','30']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'P=0.02',
                type:'bar',
                data:[0,499,793,848,770,771,783],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'P=0.05',
                type:'bar',
                data:[0,1805,2188,2187,2111,2282,2303],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'P=0.08',
                type:'bar',
                data:[0,2521,2877,3062,3400,3283,3476],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'P=0.1',
                type:'bar',
                data:[0,2833,3842,3903,4052,4096,4286],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'P=0.2',
                type:'bar',
                data:[0,8532,8582,8570,8600,8623,8701],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>
